.item_table {
  width: 100%;
}
.item_table tr {
  height: 56px;
  border-bottom: 1px solid var(--color-border);
}
.item_table td {
  padding: 12px;
}
.item_table td:first-child {
  border-right: 1px solid var(--color-border);
}

.filter_item {
  width: 100%;
  max-width: 260px;
  border: 1px solid var(--color-border);
  display: flex;
  align-items: center;
}
.filter_item select {
  width: 100%;
  max-width: 260px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(/common/img/arrow.svg) no-repeat 90% center;
  padding: 0.657rem 0.75rem;
  height: 44px;
}
.filter_item > span {
  border-left: 1px solid var(--color-border);
  height: 100%;
  line-height: 44px;
  color: #bdbdbd;
  width: 44px;
  text-align: center;
}

.table_input {
  display: block;
  width: 100%;
  max-width: 260px;
  padding: 0.657rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid var(--color-border);
  color: var(--color-black);
  background-color: #fff;
  border-radius: 2px;
  outline: unset;
}
.user_btn {
  color: #fff;
  padding: 12px 20px;
  background: var(--color-main);
  border: 1px solid var(--color-main);
  cursor: pointer;
  height: 44px;
  margin: 20px auto;
  width: 220px;
  display: block;
}
.member_btn {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--color-main);
  color: #fff;
  padding: 12px;
  border-radius: 2px;
}
.ex_max {
  max-width: 41.438%;
}
.btn_style {
  color: #fff;
  padding: 12px 20px;
  background: var(--color-main);
  border: 1px solid var(--color-main);
  cursor: pointer;
  height: 44px;
  width: 220px;
  display: block;
}
.option_btns {
  color: var(--color-main);
  padding: 12px 20px;
  background: unset;
  border: 1px solid var(--color-main);
  cursor: pointer;
  height: 44px;
  width: 220px;
  display: block;
}
.option_on {
  color: #fff;
  background-color: var(--color-main);
}
.option_btns.red_c {
  color: var(--color-red) !important;
  border: 1px solid var(--color-red);
}
.user_option_btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: var(--color-tableH);
  color: var(--color-darkG);
  padding: 12px;
  border-radius: 2px;
}
.user_option_on {
  background-color: var(--color-main);
  color: #fff;
}
.content_input textarea {
  padding: 0.657rem 0.75rem;
  height: 140px;
  font-size: 1rem;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid var(--color-border);
  width: 100%;
}
.modal_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal_section {
  background: #00000054;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
.modal_btn,
.product_list_btn {
  color: #fff;
  padding: 12px 20px;
  background: var(--color-main);
  border: 1px solid var(--color-main);
  cursor: pointer;
  height: 44px;
  width: 220px;
  display: block;
}
.modal_price_input,
.m_per,
.m_won {
  display: none;
}
.modal_price_i_on {
  display: flex;
}

.modal_on {
  display: block;
}